{% extends "VICHealth_app/base.html"%}
{% load staticfiles%}
 {%block body_block%}

 <div class="breadcrumb-area pt-240 pb-125" style="background-image:url(../../static/assets/img/bg/paprika.jpeg);" data-overlay="5">
    <div class="container">
        <div class="breadcrumb-text text-center z-index">
            <h2>Invest in a healthy diet</h2>
        </div>
    </div>
</div>


<br>
<div class="container">
  <div class="section-title text-center mb-75">
    <h2 id="topDiet">Benefits of healthy diet</h2>
      <p id="_conten_" class="section-2">To stay away from obesity, it is not enough to control the daily intake of calories. We also need to allocate each nutrient reasonably.</p>
  </div>
</div>


    <div class="container-fliud tips-button" style="text-align:center">
      <a href="#_conten_">
        <div class="btn-sugar circular" onclick="changeDietDetail(event, 'Sugar')" id="defaultOpen"><b>Sugar</b></div>
      </a>
      <a href="#_conten_">
        <div class="btn-salt circular" onclick="changeDietDetail(event, 'Salt')"><b>Salt</b></div>
      </a>
      <a href="#_conten_">
        <!-- <div class="btn-butter circular" onclick="changeDietDetail(event, 'Fat')"><b>Fat</b></div> -->
      </a>
      <a href="#_conten_">
        <div class="btn-protein circular"  onclick="changeDietDetail(event, 'Protein')"><b>Protein</b></div>
      </a>
      <a href="#_conten_">
              <div class="btn-carbide circular" onclick="changeDietDetail(event, 'Carbide')"><b>Carbohydrate</b></div>
      </a>
      <a href="#_conten_">
              <!-- <div class="btn-vc circular" onclick="changeDietDetail(event, 'Vitamin')"><b>Vitamin</b></div> -->
      </a>
    </div>

<div class="container" >
    <div id="Sugar" class="tabcontent" >
      <div class="section-title text-center mb-75" style="margin-top:50px;">
          <h2 id="s1">Sugar</h2>
          <hr>
          <h4>In fact, sugar is the main cause of obesity in modern people.</h4>
          <div style="text-align:left">
            <ul>
              <li><a href="#s1">Sugar in moderation</a></li>
              <li><a href="#s2">Sugar and obesity</a></li>
              <li><a href="#s3">Having too much sugar</a></li>
              <li><a href="#s4">Soft drinks are high in sugar</a></li>
              <li><a href="#s5">Fats in sweet foods</a></li>
              <li><a href="#s6">A small amount of sugar is safe for people with diabetes</a></li>
              <li><a href="#s7">Type of sugar</a></li>
              <li><a href="#s8">Reasonable Sugar Intake</a></li>
            </ul>
            <div style="text-align:right">
              <a href="https://www.betterhealth.vic.gov.au/health/HealthyLiving/sugar">Reference from</a>
            </div>

          </div>

      </div>
      <hr>
      <h3 id="s2">Sugar in moderation</h3>
      <h5>A ‘moderate’ intake of refined sugar can be an acceptable part of a healthy diet. Experts define a moderate intake as about 10 per cent of the total energy intake per day. However, people who consume a lot of sugary food and drinks at the expense of more nutritious food choices, may be taking in a lot of ‘empty calories’. </h5>
      <br>
      <h5>Adding a little sugar to nutritious grain foods, such as wholegrain bread and cereals, may encourage people to eat more of these foods by making them more tasty.</h5>
      <div class="backTop">
        <a href="#topDiet">Top</a>
      </div>
      <br>

      <hr>
      <h3 id="s3">Sugar and obesity</h3>
      <h5>There has been a lot of debate about the link between high sugar intake and being overweight or obese. But there is general agreement that energy (kilojoules) above the body’s needs will be stored as fat. </h5>
      <br>
      <h5>Sugar is a form of carbohydrate and it provides the same amount of energy or kilojoules (kJ) per gram as other forms of carbohydrates found in breads, rice, pasta and fruits.</h5>
      <br>
      <h5>One gram of carbohydrate provides 16 kJ of energy. One gram of fat provides 37 kJ. Therefore, fats in food contribute double the energy than the equivalent amounts provided by sugar.</h5>
      <div class="backTop">
        <a href="#topDiet">Top</a>
      </div>
      <br>

      <hr>
      <h3 id="s4">Having too much sugar</h3>
      <br>
      <h5>Although sugar provides less energy than fat, it can contribute to the ‘energy density’ (number of kilojoules) of foods and drinks. It’s easy to overindulge in foods, especially drinks, with high sugar content. </h5>
      <br>
      <h5>Having too much sugar is not the only reason for obesity or being overweight, but it does add to the amount of kilojoules in food. Eating too much of any food, without doing enough exercise, will cause you to become overweight.</h5>
      <div class="backTop">
        <a href="#topDiet">Top</a>
      </div>
      <br>

      <hr>
      <h3 id="s5">Soft drinks are high in sugar</h3>
      <br>
      <h5>Sweetened drinks are heavily advertised, cheap and commonly available. In Australia, the consumption of soft drinks, which are sweetened with sugar, has increased by 30 per cent in 10 years.</h5>
      <br>
      <h5>The standard serving size for soft drink has also increased. Ten years ago, soft drink was available in 375 ml cans. Soft drinks are now commonly sold in 600 ml bottles, which provide up to 16 teaspoons of sugar.</h5>
      <br>
      <h5>For an average 14 year old girl, a 600 ml bottle of soft drink alone will provide more than 12 per cent of her daily energy needs. This means she would exceed the recommended energy intake from refined sugar with just one drink. </h5>
      <br>
      <h5>Studies of children in the United States found that drinking more sweetened soft drink was linked to increasing overweight and obesity. It’s best to keep these drinks to a minimum. </h5>
      <div class="backTop">
        <a href="#topDiet">Top</a>
      </div>
      <br>

      <hr>
      <h3 id="s6">Fats in sweet foods</h3>
      <br>
      <h5>Sugars are often found together with fats in foods like chocolate, biscuits and cakes. A high fat intake is quite likely to contribute to being overweight or obese because fat is very ‘energy dense’.</h5>
      <br>
      <h5>It is a healthy choice to limit both the fat and the sugar content in the foods you eat. Lots of commercially produced sweet foods contain high levels of saturated fat, which will increase your blood cholesterol levels and your risk of heart disease. </h5>
      <div class="backTop">
        <a href="#topDiet">Top</a>
      </div>
      <br>

      <hr>
      <h3 id="s7">A small amount of sugar is safe for people with diabetes</h3>
      <br>
      <h5>There is no evidence that a diet high in sugar directly causes either type 1 or type 2 diabetes. However, being overweight or obese is a risk factor for type 2 diabetes and perhaps someone who is overweight might also eat a lot of sugar.</h5>
      <br>
      <h5>In the past, people with diabetes were told to avoid eating all foods containing refined sugar. This was because it was believed the sugar would have a bad effect on their blood glucose levels. However, more recent research on the glycaemic index (see below) has shown that sugar affects blood glucose levels less than some other more starchy foods, like refined bread and breakfast cereal. </h5>
      <br>
      <h5>People with diabetes can have a small amount of sugar in their diet. If you are adding sugar, it is best to add it to healthier foods such as wholegrain breads and cereals. For example, adding one to two teaspoons of regular jam spread on wholegrain bread is okay.</h5>
      <br>
      <h5>People with diabetes should limit or avoid foods in which the main ingredient is sugar, such as sweets and cakes. It is also important to maintain a healthy weight to manage diabetes.</h5>
      <div class="backTop">
        <a href="#topDiet">Top</a>
      </div>
      <br>

      <hr>
      <h3 id="s8">Type of sugar</h3>
      <h5>We first divide this type of sugar into two categories: natural sugar and added sugar.</h5>
      <br>

      <div class="row">
        <div class="col-6" style="text-align: center;">
          <img src="../../static/assets/img/tab/fruits.jpg" style="height:200px" alt="1">
          <h6>Natural Sugar</h6>
        </div>
        <div class="col-6" style="text-align: center;">
          <img src="../../static/assets/img/tab/sugar-spoon.jpg" style="height:200px; width:300px" alt="">
          <h6>Added Sugar</h6>
        </div>
      </div>
      <h5>Natural sugars include fructose in fruits and lactose in milk. This sugar is <span class="IPT">relatively healthy.</span></h5>
      <br>
      <h5>Adding sugar can be said to be the <span class="IPT">main cause of obesity</span> in the body. For most people, the daily energy intake is <span class="IPT">enough</span> or has <span class="IPT">exceeded the standard</span>. Eating too much added sugar will not only bring us more nutrients, but also <span class="IPT">increase</span> energy intake and increase <span class="IPT">risk of obesity</span>.</h5>
      <div class="backTop">
        <a href="#topDiet">Top</a>
      </div>
      <br>
      <hr>
      <h3>Reasonable Sugar Intake</h3>
      <h5>The dietary guidelines recommend that the daily intake of sugar should <span class="IPT">not exceed <b>10%</b></span> of total calories.</h5>
      <h5>Example</h5>
      <h5>If the Suggested Daily Calories Intake is 2000 kcal, then 10% is equivalent to 200 kcal. There are <span>4 kilocalories per gram of sugar</span>, that is, no more than 50 grams of added sugar.</h5>
      <br>
      <div class="row" style="text-align:center">
        <div class="col-4">
          <img style="width:210px;height:140px" src="../../static/assets/img/tab/box-cola-dose-cola-drink-brand-erfrischungsgetrank.jpg" alt="">
          <h6>A 250 ml cola contains <span class="IPT">28</span> grams of sugar.</h6>
        </div>
        <div class="col-4">
          <img style="width:210px;height:140px" src="../../static/assets/img/tab/christmas-cookies-pastries-cookie-sweet-sweetness.jpg" alt="">
          <h6>The sugar content of a biscuit can vary from <span class="IPT">5-20</span> grams depending on the size and method of preparation.</h6>
        </div>
        <div class="col-4">
          <img style="width:210px;height:140px" src="../../static/assets/img/tab/coffee-cup-spoon-cappuccino-1.jpg" alt="">
          <h6>A bag of sugar into the coffee is about <span class="IPT">3-5</span>  grams.</h6>
        </div>
      </div>
      <div class="backTop">
        <a href="#topDiet">Top</a>
      </div>
    </div>
    <!-- Sugar content end -->

    <!-- Salt content begin -->
  <div id="Salt" class="tabcontent">
    <div class="section-title text-center mb-75" style="margin-top:50px">
        <h2>Salt</h2>
        <hr id="st1">
        <h4>In fact, excessive intake of salt can also cause great harm to the body.</h4>
        <div style="text-align:left">
          <ul>
            <li><a href="#st1">Australians eat too much salt</a></li>
            <li><a href="#st3">High sodium intake and other health conditions</a></li>
            <li><a href="#st4">Salt loss (hyponatremia)</a></li>
            <li><a href="#st5">Muscle cramps need water not salt</a></li>
            <li><a href="#st6">Sodium and potassium in the body</a></li>
            <li><a href="#st7">Sodium in food</a></li>
            <li><a href="#st8">Reducing salt in our diet</a></li>
            <li><a href="#st9">Avoid high-salt, processed foods</a></li>
            <li><a href="#st10">Iodine</a></li>
          </ul>
          <div style="text-align:right">
            <a href="https://www.betterhealth.vic.gov.au/health/HealthyLiving/salt">Reference from</a>
          </div>

        </div>
    </div>
    <hr>
    <h3>Australians eat too much salt</h3>
    <br>
    <h5>The average Australian consumes almost double the amount of sodium they need for good health. The National Health and Medical Research Council (NHMRC) advises that Australian adults should aim to consume no more than one teaspoon (5 grams) of salt a day (or 2,000 mg of sodium a day) in order to prevent chronic disease. </h5>
    <br>
    <h5>Aiming for less than this is perfectly okay too. An adult body only needs around 1 – 2 g of salt (460 – 920mg sodium) per day to function.</h5>
    <br>
    <h5>Salt intake above 2,000 mg per day is associated with high blood pressure, which is a risk factor for kidney disease and cardiovascular disease (such as heart disease and stroke).</h5>
    <br>
    <h5>Australian <a href="https://unpackthesalt.com.au/how-does-salt-hurt-my-heart/#kids_salt">children are eating too much salt</a> too. In fact, almost three quarters of Victorian school children are eating more than the recommended amount. This can lead to lifelong unhealthy eating habits, and have a negative effect on children’s blood pressure. This can lead to heart attacks and strokes in the future.</h5>
    <br>
    <h5 id="st2">The recommended daily salt intake for children varies depending on their age, as follows:</h5>
    <ul>
      <li>1 – 3 years: 200 – 400 mg/day</li>
      <li>4 – 8 years 300 – 600 mg/day</li>
      <li>9 – 13 years: 400 – 800 mg/day</li>
      <li>14 – 18 years 460 – 920 mg/day.</li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>High sodium intake and blood pressure </h3>
    <br>
    <h5>The relationship between sodium intake and blood pressure is well established. Populations with a high average salt intake have a higher average blood pressure and higher levels of hypertension (high blood pressure). Australians consume nearly double the amount of sodium that is recommended to reduce the risk of cardiovascular disease.</h5
    <br >
    <h5 id="st3">Reducing the amount of salt you have will lower high blood pressure – the extent depends on your age, current blood pressure and other factors such as the amount of exercise you do, body weight, stress and alcohol intake. People with high blood pressure, diabetes or chronic kidney disease and those who are older or overweight are particularly susceptible to the effect of too much sodium on blood pressure.</h5>
    <br>
    <h5>There is strong evidence that sodium reduction lowers blood pressure in people with normal blood pressure and good evidence that consuming a diet low in sodium reduces blood pressure in children.</h5>
    <br>
    <ul>
    <li>heart failure</li>
    <li>kidney problems and kidney stones</li>
    <li>oedema (fluid retention)</li>
    <li>stroke</li>
    <li>stomach cancer</li>
    <li>left ventricular hypertrophy (thickening of heart muscle)</li>
    <li>osteoporosis.</li>
    </ul>
    <br>
    <h5 id="st4">A high level of salt intake increases the amount of calcium excreted in the urine, which may also contribute to osteoporosis and increased risk of fracture.</h5>
    <br>
    <h5>The balance of sodium and water in the body can also be disrupted if there is not enough water. This may be caused by a damaged thirst mechanism or by limited access to water. Hypernatremia is a very serious condition that occurs when your sodium levels rise above 145 milliequivalents per litre (mEq/L). It can lead to death. A major symptom is thirst and treatment usually involves controlled water replacement</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Salt loss (hyponatremia)</h3>
    <br>
    <h5>The body loses salt through urine, perspiration, vomiting and diarrhoea. If too much salt is lost, the level of fluid in the blood will drop. Hyponatremia is a condition that occurs when the sodium in your blood falls below the normal range of 135–145 mEq/L. In severe cases, low sodium levels in the body can lead to muscle cramps, nausea, vomiting and dizziness. Eventually, lack of salt can lead to shock, coma and death.</h5>
    <br>
    <h5 id="st5">Severe salt loss is very unlikely to happen because our diets contain more than enough salt. The only time this is likely to occur is when someone has acute gastroenteritis (causing vomiting and diarrhoea), severe sweating or water intoxication (from drinking too much water).</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Muscle cramps need water not salt</h3>
    <br>
    <h5>Some people believe that salt has to be replaced during hot weather or strenuous exercise to avoid muscle cramps. This is not correct. What you need to replace is water. </h5>
    <br>
    <h5>The human body can happily survive on just one gram of salt a day, as hormones keep a check on sodium levels and make adjustments for hot weather. A genuine sodium shortage brought on by hot weather or exercise is extremely rare, even among hard-working athletes.</h5>
    <br>
    <h5 id="st6">The muscle cramps that sometimes follow a bout of sweating are due to dehydration, not lack of salt. To prevent cramps, drink plenty of water on hot days and before, during and after exercise. This will also help to even out the water–sodium ratio in the body.</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Sodium and potassium in the body</h3>
    <br>
    <h5>Potassium is important for the nerves, muscles and heart to work properly. It also helps to lower blood pressure. However, some people with kidney disease, or who are taking some medications, need to be careful not to get too much potassium in their diet.</h5>
    <br>
    <h5>Our bodies are designed for a high-potassium diet, not a high-salt diet. Food processing tends to lower the potassium levels in many foods while increasing the sodium content. It is much better to eat unprocessed foods such as fruit, vegetables and lean meats, eggs, fish and other healthy, everyday foods. </h5>
    <br>
    <h5 id="st7">When selecting processed everyday foods such as wholegrain breads and cereals, select lower salt options. Foods high in potassium include bananas, apricots, mushrooms and spinach.</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Sodium in food</h3>
    <br>
    <h5>Many foods – wholegrains, meat and dairy products – naturally contain small amounts of sodium, while highly processed foods tend to contain large amounts.</h5>
    <br>
    <h5 id="st8">Some foods contain more than you may expect. For example:</h5>
    <br>
    <ul>
      <li>A jam sandwich has only 30 per cent less salt than a vegemite sandwich, because most of the salt comes from the bread.</li>
      <li>Sea salt, onion, celery or garlic salts are not low-sodium substitutes.</li>
      <li>A bowl of cornflakes has about the same amount of salt as a small packet of plain chips.</li>
      <li>Some sweet biscuits contain as much or more salt than savoury biscuits.</li>
      <li>Ricotta, cottage, mozzarella and Swiss cheeses are lower in salt than most other cheeses.</li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>

    <hr>
    <h3>Reducing salt in our diet</h3>
    <br>
    <h5>To reduce the amount of salt in your diet, slowly reduce your intake (over several weeks), then completely avoid adding salt at the table, and when cooking or preparing meals.</h5>
    <br>
    <h5><b>Consider</b></h5>
    <br>
    <ul>
      <li>using dry or fresh herbs like parsley, oregano, thyme, dill, basil or a dry herb mix to add flavour</li>
      <li>using spices and other flavour enhancers like garlic and chili</li>
      <li>lemon or lime juices are excellent flavour enhancers and often make meats more tender.</li>
    </ul>
    <br>
    <h5>Experiment with small amounts and use a recipe book to get ideas on what flavours go well together. For example, curry powder enhances the flavour of potatoes or eggs and vegetables go nicely with balsamic vinegar and olive oil.</h5>
    <br>
    <h5>If you currently use quite a lot of salt in cooking or at the table, reducing this is even more important. For the average person, this accounts for around 25 per cent of their total salt intake and is one easy action you can take to reduce your sodium intake. Your taste buds adapt to lower salt levels in a matter of weeks, so gradually reducing salt is a key factors to success.</h5>
    <br>
    <h5>While reducing the salt you add at the table in when cooking or preparing meals, you should also focus on selecting foods that contain less ‘hidden’ salt because this accounts for around 75 per cent of all salt in most people’s diet. When shopping:</h5>
    <br>
    <ul>
      <li>Choose reduced salt bread and breakfast cereals – bread is a major source of sodium in the diet.&nbsp;</li>
      <li>Buy fresh vegetables or select lower sodium canned varieties.</li>
      <li>Choose products with low salt (less than 120 mg sodium/100 g) or ‘salt-free’ versions of commonly used foods such as baked beans, margarine, commercial sauces, pre-prepared meals and other foods.</li>
    </ul>
    <h5 id="st9">Some people believe that sea salt is a healthier alternative to normal table salt, but both are composed of sodium chloride.</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Avoid high-salt, processed foods</h3>
    <br>
    <h5 id="st10">High-salt foods that should be eaten sparingly include:</h5>
    <br>
    <ul>
      <li>most ‘fast’ foods, such as pizza, hamburgers, chips</li>
      <li>most snack foods, such as potato chips</li>
      <li>processed meats, such as sausages, salami, hot dogs and luncheon meats</li>
      <li>dehydrated or packet foods, such as instant pasta or soups</li>
      <li>pre-packaged sauces and condiments, such as tomato sauce and soy sauce, and processed tomato products in general.</li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Iodine</h3>
    <br>
    <h5>Our bodies need iodine to make sure our thyroid gland and the hormones that regulate our metabolism work normally. Most bread in Australia and New Zealand is now required by law to use iodised salt in place of non-iodised salt, although bread labelled as ‘organic’ is exem</h5>
    <br>
    <h5>It is expected that this will make sure most Australian adults and children will consume sufficient iodine. This may not be the case for pregnant and breastfeeding women, who may need a dietary supplement. Low iodine status in the mother can affect the brain development of the child.</h5>
    <br>
    <h5>Another good way to make sure you get enough iodine is to eat seafood at least once a week. However, some types of fish contain high levels of mercury, which is dangerous to a developing fetus. Pregnant women must take care when choosing the types of fish they eat during pregnancy to reduce this risk.</h5>
    <br>
    <h5>Vegetarians or people who do not eat seafood can get iodine from multivitamin supplements.</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>


    </div>
  <!-- Salt Content End -->

  <!-- Fat Content Begin -->
  <!-- <div id="Fat" class="tabcontent">
    <div class="section-title text-center mb-75" style="margin-top:50px">
        <h2>Fat</h2>
        <hr>
        <h4>Reasonable intake of fat</h4>
    </div>
  </div> -->
  <!-- Protein Content End -->
  <div id="Carbide" class="tabcontent">
    <div class="section-title text-center mb-75" style="margin-top:50px">
        <h2>Carbohydrates</h2>
        <hr>
        <h4>Carbohydrates are essential for a healthy body and should not be removed from the diet</h4>
        <div style="text-align:left">
          <ul>

            <li><a href="#lp-h-0">Weight gain, kilojoules and low-carb diets</a></li>

            <li><a href="#lp-h-1">Low-carb diets restrict healthy food choices</a></li>

            <li><a href="#lp-h-2">Foods that meet nutritional needs</a></li>

            <li><a href="#lp-h-3">Short-terms effects of low-carb diets </a></li>

            <li><a href="#lp-h-4">Long-term effects of low-carb diets</a></li>

            <li><a href="#lp-h-5">Weight loss needs a healthy approach</a></li>

            <li><a href="#lp-h-6">Select carbohydrates, proteins and fats carefully </a></li>

            <li><a href="#lp-h-7">Where to get help</a></li>

            <li id="#lp-h-0"><a href="#lp-h-8">Things to remember</a></li>

          </ul>
          <div style="text-align:right">
            <a href="https://www.betterhealth.vic.gov.au/searchresults?q=carbohydrate">Reference from</a>
          </div>
        </div>
    </div>
    <br>

    <hr>
    <h3>Weight gain, kilojoules and low-carb diets</h3>
    <br>
    <h5>Low-carbohydrate (low-carb) diets are popular for weight loss. The basic reason for the recommendation to eat fewer carbohydrates is the belief that carbohydrates cause weight gain.</h5>
    <br>
    <h5>The most common source of carbohydrates is grain foods such as bread, rice, pasta, crackers, barley, semolina, polenta and bulgur. Low-carb diets generally recommend limiting the amounts of these foods eaten.</h5>
    <br>
    <h5>However, this is misleading, because weight gain comes from an excess in overall kilojoules (or energy), which can come from any food source, including foods that are lower in carbohydrates and higher in fat or protein.</h5>
    <br>
    <h5>In fact, the Australian Dietary Guidelines states there is probably an association between eating three to five serves of grain (cereal) foods per day (mainly wholegrain) and reduced risk of weight gain.</h5>
    <br>
    <h5 id="lp-h-1">The best way to maintain a healthy weight is to combine a balanced diet that includes fruits and vegetables, whole grains, lean meats and alternatives, legumes and low-fat dairy products like milk, yoghurt and cheese with daily exercise.</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Low-carb diets restrict healthy food choices</h3>
    <br>
    <h5>Very low-carbohydrate diets are unlikely to meet your daily nutritional needs. Advocates of these diets advise people to consume kilojoules mainly from protein and fat sources, and often recommend eating less than 100 g of carbohydrate per day.</h5>
    <br>
    <h5>Many health professionals do not support these diets as they can have a high fat content (particularly saturated fat) and tend to restrict important food sources of nutrients.</h5>
    <br>
    <h5>Very low-carb diets tend to contain few fruits and vegetables and may be:</h5>
    <br>
    <ul>
      <li>high in saturated fat</li>
      <li>nutritionally inadequate because they are low in thiamine, folate, vitamins A, E and B6, calcium, magnesium, iron and potassium</li>
      <li>low in fibre</li>
      <li>missing important antioxidants and phytochemicals. </li>
    </ul>
    <br>
    <h5 id="lp-h-2">Typical foods eaten on a low-carbohydrate diet include beef, chicken, bacon, fish, eggs and non-starchy vegetables, as well as fats such as oils, butter and mayonnaise. Foods that are restricted include many types of fruit, bread, cereals and other grains, starchy vegetables and dairy products other than cheese, cream or butter. </h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Foods that meet nutritional needs</h3>
    <br>
    <h5>To be healthy, your daily diet should include:</h5>
    <br>
    <ul>
      <li>six serves of grain (cereal) foods for most adults. One serve equals one slice of bread, half a cup of cooked porridge or half a cup of cooked grains such as pasta, rice, quinoa, polenta</li>
      <li>two serves of fruit. One serve equals one apple, orange or banana, one cup of canned fruit (no added sugar) or four dried apricot halves (dried fruit should only be consumed sometimes because it is a concentrated source of sugar and can stick to the teeth, increasing the risk of tooth decay)</li>
      <li>five serves (women) or six serves (most men) of vegetables. One serve equals one cup of salad vegetables, half a cup of cooked dried beans or legumes, half a potato or half a cup of other cooked vegetables (broccoli, spinach, carrots)</li>
      <li>two and a half serves of milk, yoghurt, cheese and alternatives for most adults. One serve equals one cup of milk, two slices (40 g) of cheese or one small tub (200 g) of yoghurt</li>
      <li>two to three serves of meat or meat alternatives. One serve equals 65 g cooked lean beef, lamb veal or pork, 80 g cooked chicken, 100 g cooked fish or one small can of fish, two large eggs, one cup of canned beans, 170 g tofu or 30 g nuts or seeds.</li>
    </ul>
    <br>
    <h5 id="lp-h-3">Typical foods eaten on a low-carbohydrate diet include beef, chicken, bacon, fish, eggs and non-starchy vegetables, as well as fats such as oils, butter and mayonnaise. Foods that are restricted include many types of fruit, bread, cereals and other grains, starchy vegetables and dairy products other than cheese, cream or butter. </h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Short-terms effects of low-carb diets</h3>
    <br>
    <h5>In the short term, low-carbohydrate diets may cause you to lose weight because they restrict kilojoules or energy. The body begins to use body stores of glucose and glycogen (from the liver and muscles) to replace the carbohydrates it is not getting from food. Around 3 g of water is needed to release 1 g of glycogen, so the rapid initial weight loss on a low-carbohydrate diet is mostly water, not body fat.</h5>
    <br>
    <h5>As carbohydrate stores are used up, the body begins to rely on other sources of fuel such as fat. This can lead to the development of ketones in the body, which can make the body acidic. This can lead to metabolic changes, which may be dangerous for some people, such as those with diabetes. </h5>
    <br>
    <h5>Some people may also experience problems with a low-carbohydrate diet, including:</h5>
    <br>
    <ul>
      <li>nausea</li>
      <li>dizziness</li>
      <li>constipation</li>
      <li>lethargy</li>
      <li>dehydration</li>
      <li>bad breath</li>
      <li id="lp-h-4">loss of appetite.</li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Long-term effects of low-carb diets</h3>
    <br>
    <h5>The long-term safety of a diet very low in carbohydrates but high in saturated fat is still uncertain, and the potential effects on a person’s health are not known. Follow-up studies are needed over years to determine the safety of very low-carb diets. </h5>
    <br>
    <h5>Possible long-term effects of very low carb diets may include:</h5>
    <br>
    <ul>
      <li>Weight gain – when a normal diet is resumed, some muscle tissue is rebuilt, water is restored and weight quickly returns.</li>
      <li>Bowel problems – restricted intake of antioxidants and fibre from fruits and vegetables can increase a person’s risk of constipation. </li>
      <li>Dieting problems – such as the ‘yoyo’ effect where people lose and regain weight many times over a long period of time, rather than sustaining weight loss. Currently, there is not enough evidence to support the adoption of very low carb diets for long term weight loss. </li>
      <li id="lp-h-5">High cholesterol, abdominal obesity and obesity-related disorders – diets that are high in protein and fats are associated with a number of conditions, including heart disease, diabetes and cancer. This can occur if the diet is very high in fat, particularly from high-fat meats such as salami, sausages and bacon.</li>
      <li>Kidney problems – can occur in people with impaired kidney function or diabetes.</li>
      <li>Osteoporosis and related conditions – are due to loss of calcium from the bones.</li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Weight loss needs a healthy approach</h3>
    <br>
    <h5>A healthy diet high in fruits and vegetables, wholegrains, legumes and low-fat dairy products, and moderate in fat and kilojoules that is balanced with daily physical activity, is the best way to lose weight and keep it off. </h5>
    <br>
    <h5>Vegetarians and people who consume predominantly plant-based diets are generally slimmer and have much lower rates of obesity, heart disease and cancer, compared to people who eat meat-based diets. This supports current thinking that diets high in unrefined carbohydrates help to prevent overweight and obesity.</h5>
    <br>
    <h5 id="lp-h-6">Ultimately, to avoid weight gain, energy intake should not be more than energy output over a period of time. Avoiding large portion sizes and limiting intake of saturated fats and added sugars will help keep energy intake in check. Regular exercise is also critical for long-term weight loss success. </h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Select carbohydrates, proteins and fats carefully</h3>
    <br>
    <h5>If you do choose to follow a low-carbohydrate diet, do not avoid carbohydrates completely – you need some in your diet for fuel and to metabolise fat. Choose carbohydrate-rich foods that are unrefined or unprocessed, including wholegrains and fruit, rather than the more refined and energy-dense forms such as cakes, sweets and soft drinks. Have a variety of vegetables daily.</h5>
    <br>
    <h5>Select a variety of protein-rich foods that are also low in saturated fat, for example:</h5>
    <br>
    <ul>
      <li>lean cuts of red meat</li>
      <li>fish (including fatty fish) </li>
      <li>lean chicken and pork.</li>
    </ul>
    <br>
    <h5>You could also select protein-rich foods that are plant based, for example:</h5>
    <ul>
      <li>nuts</li>
      <li>legumes such as beans and pulses</li>
      <li>soy products, including tofu.</li>
    </ul>
    <br>
    <h5 id="lp-h-7">Choose fats from plant sources (such as olives, olive oil, canola oil, peanuts, peanut oil, soy or soy oil) rather than from animal sources (butter or meat fat).</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3 id="lp-h-8">Where to get help</h3>
    <br>
    <ul id="lp-h-9">
      <li>Your doctor</li>
      <li>Dietitians Association of Australia Tel. 1800 812 942</li>
      <li>Nutrition Australia </li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Things to remember</h3>
    <br>
    <ul>
      <li>Carbohydrates are essential for a healthy body and should not be removed from the diet.</li>
      <li>A very low-carbohydrate diet combined with very high protein intake is not recommended. </li>
      <li>Very low-carbohydrate diets tend not to lead to long-term weight loss.</li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
  </div>


  <!-- Protein Content Begin -->
  <div id="Protein" class="tabcontent">
    <div class="section-title text-center mb-75" style="margin-top:50px">
        <h2>Carbohydrate</h2>
        <hr>
        <h4>Reasonable intake of carbohydrates</h4>
        <div style="text-align:left">
          <ul>

            <li><a href="#p0">Your protein needs</a></li>

            <li><a href="#p1">Sources of protein</a></li>

            <li><a href="#p2">Amino acids explained</a></li>

            <li><a href="#p3">Nutritional value of protein</a></li>

            <li><a href="#p4">Digestion of proteins</a></li>

            <li><a href="#p5">How amino acids are used</a></li>

            <li><a href="#p6">Ammonia – a toxic byproduct of protein</a></li>

            <li><a href="#p7">Maintaining muscle mass</a></li>

            <li><a href="#p8">Strenuous exercise and protein needs</a></li>

            <li><a href="#p9">Timing of protein consumption</a></li>

            <li><a href="#p10">Symptoms of protein deficiency</a></li>

            <li><a href="#p11">Very high protein diets are dangerous</a></li>

            <li><a href="#p12">Where to get help</a></li>

            <li id="p0"><a href="#p13">Things to remember</a></li>

          </ul>
          <div style="text-align:right">
            <a href="https://www.betterhealth.vic.gov.au/health/HealthyLiving/protein">Reference from</a>
          </div>
        </div>

    </div>
    <hr>
    <h3>Your protein needs</h3>
    <br>
    <h5>The amount of protein you need in your diet depends on your weight, age and health. As a rough guide, the recommended dietary intake (RDI) for protein (measured in grams per kilogram of bodyweight) is:</h5>
    <br>
    <ul>
        <li>0.75 g/kg for adult women </li>
        <li>0.84 g/kg for adult men</li>
        <li>Around 1 g/kg for pregnant and breastfeeding women, and for men and women over 70 years.</li>
    </ul>
    <br>
    <h5>For example, a 75 kg adult male would need 63 g of protein per day. It is recommended that 15 to 25 per cent of total energy intake per day is from protein sources. The human body can’t store protein and will excrete any excess. Therefore, the most effective way of using the daily protein requirement is to eat small amounts at every meal. Using the example of the 75 kg male above, this would require that he eats approximately 21 g of protein at three meals each day.</h5>
    <br>
    <h5>The needs of children and adolescents also vary according to their age and weight. A full list of recommendations for dietary protein is available from the <a href="https://www.nrv.gov.au/">Australian Nutrient Reference Values (NRVs) website.</a></h5>
    <br>
    <h5 id="p1">Most Australians eat far more protein than they actually need, so deficiencies are rare.</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Sources of protein</h3>
    <br>
    <h5>Some sources of dietary protein include:</h5>
    <br>
    <ul>
      <li>lean meat, poultry and fish</li>
      <li>eggs</li>
      <li>dairy products like milk, yoghurt and cheese</li>
      <li>seeds and nuts</li>
      <li>beans and legumes (such as lentils and chickpeas)</li>
      <li>soy products like tofu</li>
      <li>some grain and cereal-based products are also sources of protein, but are generally not as high in protein as meat and meat alternative products. </li>
    </ul>
    <br>
    <h5>The Australian Dietary Guidelines recommend particular serves per day from the lean meat and poultry, fish, eggs, tofu, nuts and seeds and legumes/beans food category, including:</h5>
    <br>
    <ul>
      <li>men aged 19-50 years = 3 serves </li>
      <li>men aged 51 years and over = 2 ½ serves</li>
      <li>women aged 19-50 years = 2½ serves </li>
      <li>women aged 51 years and over = 2 serves</li>
      <li>pregnant women = 3 ½ serves </li>
      <li>breastfeeding women = 2 ½ serves. </li>
    </ul>
    <br>
    <h5>A standard serving size is one of:</h5>
    <br>
    <ul>
      <li>65 g cooked lean meats such as beef, lamb, veal, pork, goat or kangaroo (about 90-100 g raw)</li>
      <li>80 g cooked lean poultry such as chicken or turkey (100 g raw)</li>
      <li>100 g cooked fish fillet (about 115 g raw weight) or one small can of fish</li>
      <li>2 large eggs</li>
      <li>1 cup (150 g) cooked dried beans, lentils, chickpeas, split peas or canned beans (preferably with no added salt)</li>
      <li>170 g tofu</li>
      <li>30 g nuts, seeds, peanut or almond butter or tahini or other nut or seed paste (no added salt).</li>
    </ul>
    <br>
    <h5>The daily recommendations for adults for foods from the milk, yoghurt, cheese and/or alternatives (mostly reduced fat) group are:</h5>
    <br>
    <ul>
      <li>men aged 19-70 years = 2 ½ serves</li>
      <li>menu aged 70 years and over = 3 ½ serves </li>
      <li>women aged 19-50 years = 2 ½ serves</li>
      <li>women aged 51 years and over = 4 serves.</li>
    </ul>
    <br>
    <h5>A serve could include either:</h5>
    <br>
    <ul>
      <li>250 ml (1 cup) fresh, UHT long life, reconstituted powdered milk or buttermilk</li>
      <li>120 ml (1/2 cup) evaporated milk</li>
      <li id="p2">200 g (3/4 cup or 1 small carton) yoghurt</li>
      <li>40 g (2 slices) hard cheese such as cheddar</li>
      <li>120 g (1/2 cup) ricotta cheese.</li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Amino acids explained</h3>
    <br>
    <h5>Proteins are made up of chains of smaller building blocks called amino acids, which are chemically linked to each other. There are about 20 different amino acids that can be put together in different combinations to make up the millions of proteins found in nature. A protein can consist of between 50 and tens of thousands of amino acids</h5>
    <br>
    <h5 id="p3">The two broad classes of amino acids are those that can be made by the human body (non-essential amino acids) and those that must be supplied to us through our diet (essential amino acids).</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Nutritional value of protein</h3>
    <br>
    <h5>The nutritional value of a protein is measured by the quantity of essential amino acids that it provides.</h5>
    <br>
    <h5>Different foods contain different amounts of amino acids. Generally:</h5>
    <br>
    <ul>
      <li>Animal products (such as chicken, beef or fish) contain all of the essential amino acids. </li>
      <li>Soy products, quinoa and the seed of a leafy green called Amaranth (consumed in Asia and the Mediterranean) also contain all of the essential amino acids. However, plant proteins usually lack at least one amino acid.  </li>
    </ul>
    <br>
    <h5 id="p4">People following a strict vegetarian or vegan diet need to choose a variety of protein sources from a combination of plant foods throughout the day to get an adequate mix of amino acids. For example, a meal containing cereals and legumes, such as baked beans on toast, provides all the essential amino acids found in a typical meat dish.</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Digestion of proteins</h3>
    <br>
    <h5 id="p5">A protein-rich food, such as meat, is broken down into individual proteins by the gastric juices in your stomach. Pancreatic enzymes released into the first portion of your small intestine (duodenum) split the proteins into their separate amino acids. The amino acids are absorbed by the small finger-like projections (villi) lining the intestine walls, and are taken to the liver via the bloodstream.</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>How amino acids are used</h3>
    <br>
    <h5>The three main ways that the human body uses amino acids include:</h5>
    <br>
    <ul>
    <li><strong>Protein synthesis</strong> – new proteins are created constantly. For example, as old, dead cells are sloughed off the skin surface, new ones are pushed up to replace them. </li>
    <li id="p6"><strong>Precursors of other compounds</strong> – a range of substances are created using amino acids, (for example, the brain chemical (neurotransmitter) serotonin and the ‘fight or flight’ chemical adrenalin).</li>
    <li><strong>Energy</strong> – although carbohydrates are the body’s preferred fuel source, about 10 per cent of energy is obtained from protein.</li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Ammonia – a toxic byproduct of protein</h3>
    <br>
    <h5 id="p7">One of the byproducts of protein metabolism is ammonia. In high levels, ammonia is extremely dangerous to the body and so is converted into urea. This water-soluble chemical is collected by the kidneys and eliminated from the body in our urine. The more protein we eat each day, in excess of our needs, the more work our kidneys must do to get rid of the ammonia.</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Maintaining muscle mass</h3>
    <br>
    <h5>Beginning at approximately 50 years of age, humans begin to gradually lose skeletal muscle. This loss is known as sarcopenia, is common in the elderly, but is also worsened by chronic illness, poor diet or inactivity. It is likely that protein intake at the upper end of the RDI range can help maintain muscle mass and strength, which is vital for walking ability and reducing the risk of injury in older people from falls.</h5>
    <br>
    <h5 id="p8">It is also important for older people to eat protein ‘effectively’, which means to consume high-quality protein foods, such as lean meats.</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Strenuous exercise and protein needs</h3>
    <br>
    <h5 id="p9">Contrary to popular belief, people who exercise vigorously or are trying to put on muscle mass do not need to consume extra protein. Studies show that weight-trainers who do not eat extra protein (either in food or protein powders) still gain muscle at the same rate as weight-trainers who supplement their diets with protein. A very high-protein diet can strain the kidneys and liver, and prompt excessive loss of the mineral calcium.</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Timing of protein consumption</h3>
    <br>
    <h5 id="p10">Soon after exercising (either resistance or aerobic), it is recommended that you consume a high-quality protein source (such as a glass of milk or tub of yoghurt) combined with a carbohydrate meal to help maintain your body’s protein balance. Studies have shown this to be beneficial, even when following low to moderate aerobic exercise (such as walking), particularly for older adults</h5>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Symptoms of protein deficiency</h3>
    <br>
    <h5>As stated above, protein deficiencies in Australia are not common, but may occur in people with special requirements, such as older people. In particular, people following strict vegetarian or vegan diets must make sure that they eat a wide range of plant proteins every day.</h5>
    <br>
    <h5>Symptoms of protein deficiency include:</h5>
    <br>
    <ul>
      <li>wasting and shrinkage of muscle tissue</li>
      <li>oedema (build-up of fluids, particularly in the feet and ankles)</li>
      <li id="p11">anaemia (the blood’s inability to deliver sufficient oxygen to the cells, usually caused by dietary deficiencies such as lack of iron)</li>
      <li>slow growth (in children).</li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Very high protein diets are dangerous</h3>
    <br>
    <h5>Some weight trainers and bodybuilders believe that high-protein diets lead to increased muscle mass. High protein diets promote intakes of protein of between 200 and 400 g per day, which equates to approximately 5 g/kg each day (more than five times the RDI). This belief is false. It is the stimulation of muscle tissue through exercise, not extra dietary protein, which leads to muscle growth.</h5>
    <br>
    <h5>The RDI for protein provides adequate protein to build and repair muscles, even for body builders and athletes. Fad diets that favour very high protein and fat intake, combined with very low carbohydrate intake, may be harmful.</h5>
    <br>
    <h5>Some of the problems with very high-protein diets (more than 35 per cent of total daily intake) include that:</h5>
    <br>
    <ul>
      <li>They usually promote a very low intake of carbohydrates. Glucose, made when your body breaks down dietary carbohydrate, is your body’s preferred fuel source. If your body does not receive enough dietary carbohydrate, it will break down muscle tissue to make glucose. This causes muscle wastage, reduced metabolism and a build-up of ketones.</li>
      <li>Fibre is largely a carbohydrate. Foods rich in carbohydrates (such as wholegrains and legumes) are also rich in fibre. Avoiding these foods leads to an overall low-fibre intake, which can result in constipation, bowel disorders and increased risk of colon cancer. </li>
      <li>There is evidence to suggest that the heart may not function as well if its main source of fuel is ketones.</li>
      <li>High intake of animal products (which is usually recommended in such diets) can also be high in saturated fats and cholesterol, which is associated with a range of conditions including heart disease.</li>
      <li>The liver and kidneys are put under strain because they have to detoxify and eliminate unusually high quantities of protein byproducts. Kidney problems may be exacerbated in people with diabetes.</li>
      <li>There is an increased risk of developing gout and gall bladder colic.</li>
      <li>Greater losses of body calcium may increase the risk of osteoporosis.</li>
      <li>High-protein diets can cause mild dehydration due to increased water loss through urine. Increased risk of dehydration puts the body under pressure.</li>
      <li id="p12">Recent research shows that weight loss over one year is not greater on a high-protein diet when compared to safer, low-fat eating patterns. </li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Where to get help</h3>
    <br>
    <ul>
      <li id="p13">Your doctor</li>
      <li>Dietitians Association of Australia Tel. 1800 812 942</li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>
    <br>

    <hr>
    <h3>Things to remember</h3>
    <br>
    <ul>
      <li>Proteins are made up of chains of smaller chemicals called amino acids.</li>
      <li>The human body cannot store amino acids, so it must be supplied daily from the foods we eat.</li>
      <li>Very high protein diets combined with very low carbohydrate intakes are not recommended.</li>
    </ul>
    <div class="backTop">
      <a href="#topDiet">Top</a>
    </div>

  </div>
  <!-- Protein Content End-->

  <!-- Vitamin Content Begin-->
  <!-- <div id="Vitamin" class="tabcontent">
    <div class="section-title text-center mb-75" style="margin-top:50px">
        <h2>Vitamin</h2>
        <hr>
    </div>
  </div> -->

</div>

 <script>
function changeDietDetail(evt, cityName) {
 var i, tabcontent, circular;
 tabcontent = document.getElementsByClassName("tabcontent");
 for (i = 0; i < tabcontent.length; i++) {
   tabcontent[i].style.display = "none";
 }
 circular = document.getElementsByClassName("circular");
 for (i = 0; i < circular.length; i++) {
   circular[i].className = circular[i].className.replace(" active", "");
 }
 document.getElementById(cityName).style.display = "block";
 evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

 {% endblock %}
